<div  ng-cloak style="max-width: 400px; margin: 0 auto;"> 
    <span class="timer">
                <h3 ng-show="username" ><span>{{ username }} (מנהל)</span>
            </h3>
            <h3 ng-show="!username" >אינכם מחוברים למערכת</h3>
        <h2 >
            {{ todayForDisplay }}
        </h2>
                        <span ng-show="username" class="logout" ng-click="logOut()">התנתקות</span>

    </span>
    <span class="deleted fadeInUp" ng-click="setView('home')">
            <h2>כניסות ויציאות  </h2>
    </span>
    <section ng-show="currentView == 'home'" class="animated fadeInUp">
        <article class="menu" ng-show="username">
            <h1>בחרו כניסה</h1>
            <span class="menuItem">
                <button type="" ng-click="setView('Entrance1')">כניסה 1 <h2>
                    {{ data['entrance1'].counter }}
                    </h2></button>         
            </span>
            <span class="menuItem">
                <button type="" ng-click="setView('Entrance2')">כניסה 2 <h2>
                    {{ data['entrance2'].counter }}
                    </h2></button>         
            </span>
            <span class="menuItem">
                <button type="" ng-click="setView('Entrance3')">כניסה 3 <h2>
                    {{ data['entrance3'].counter }}
                    </h2></button>         
            </span>
            <span class="menuItem">
                <button type="" ng-click="setView('allEntrances')">כל הכניסות<h2>
                    {{ data['entrance1'].counter + data['entrance2'].counter + data['entrance3'].counter }} 
                    </h2></button>         
            </span>
        </article>
        <article class="menu" ng-show="!username">
            <h1>ראשית יש להתחבר למערכת</h1>
            <span class="menuItem">
                <button type="" ng-click="goToLogin()">מעבר להתחברות</button>         
            </span>
        </article>
    </section>

    <section>
        <article ng-show="currentView == 'Entrance1' || currentView == 'allEntrances'" class="animated fadeInUp">
            <h1>כניסה 1</h1>
            <span class="main">
                <button type="" ng-click="increase('entrance1')">כניסה</button>
                <!--<button type="" ng-click="createDB()">נכנס</button>-->
                <button type="" ng-click="decrease('entrance1')">יציאה</button>
            </span>
            <span class="secondary">
                <button type="button" ng-csv="data.entrance1.instances" csv-header="['Action', 'Timestamp', 'Date', 'Time']" filename="Entrance1_{{today}}.csv">יצוא נתונים</button>
                <button type="" ng-click="reset('entrance1')">איפוס מונה</button>
            </span>
            <span>
                <h2>{{ data['entrance1'].counter }}</h2>             
            </span>
        </article>
        
        <article ng-show="currentView == 'Entrance2' || currentView == 'allEntrances'" class="animated fadeInUp">
            <h1>כניסה 2</h1>
            <span class="main">
                <button type="" ng-click="increase('entrance2')">כניסה</button>
                <button type="" ng-click="decrease('entrance2')">יציאה</button>
            </span>
            <span class="secondary">
                <button type="button" ng-csv="data.entrance2.instances" csv-header="['Action', 'Timestamp', 'Date', 'Time']" filename="Entrance2_{{today}}.csv">יצוא נתונים</button>
                <button type="" ng-click="reset('entrance2')">איפוס מונה</button>
            </span>
            <span>
                <h2>{{ data['entrance2'].counter }}</h2>                
            </span>
        </article>
        <article ng-show="currentView == 'Entrance3' || currentView == 'allEntrances'" class="animated fadeInUp">
            <h1>כניסה 3</h1>
            <span class="main">
                <button type="" ng-click="increase('entrance3')">כניסה</button>
                <button type="" ng-click="decrease('entrance3')">יציאה</button>
            </span>
            <span class="secondary">
                <button type="button" ng-csv="data.entrance3.instances" csv-header="['Action', 'Timestamp', 'Date', 'Time']" filename="Entrance3_{{today}}.csv">יצוא נתונים</button>
                <button type="" ng-click="reset('entrance3')">איפוס מונה</button>
            </span>
            <span>
                <h2>{{ data['entrance3'].counter }}</h2>                
            </span>
        </article>
    </section>
    <section>
        <article ng-show="currentView == 'allEntrances'" class="animated fadeInUp">
            <h1>בקרה</h1>
            <button ng-show="!dataDeleted" type="" ng-click="resetAll()" ng-class="{'warnDelete': warnDelete}">{{ deleteAllLabel }}</button>
            <span ng-show="dataDeleted" class="deleted">הנתונים נמחקו בהצלחה</span>
        </article>
    </section>
</div>
